@import './variables';
@import './colors';

@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@function toRem($pixels) {
  @return #{calc($pixels / $browser-font-size)}rem;
}

@function toEm($pixels, $context: $browser-font-size) {
  @return #{calc($pixels/$context)}em;
}

@mixin border-dash($width: 2) {
  border: #{$width}px dashed $color-black;
}

@mixin bg-image() {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
